@mixin basic {
  flex: auto;
  display: flex;
  // padding: 0.5%;
}

.contianer {
  // @include basic();
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b6c1b5;
  border-bottom: #23403b solid 0.6rem;
  flex-direction: row;
  justify-content: space-between;
  @media screen and (max-width: 425px) {
    flex-direction: column;
  }
}

.logo-div {
  @include basic();
  background-color: #fff;
  justify-content: center;
  align-items: center;
  clip-path: circle(35% at 50% 50%);
  @media screen and (max-width: 425px) {
    clip-path: circle(40% at 50% 50%);
    img {
      width: 60vw;
    }
  }

  .logo {
    width: 20vw;
    @media screen and (max-width: 425px) {
      width: 50vw;
    }
  }
}
.name-div {
  font-family: "Black Ops One", cursive;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  width: 42vw;
  align-items: center;
  @media screen and (max-width: 425px) {
    width: 99vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
  }
}
.info-div {
  display: flex;
  font-family: "Special Elite", cursive;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 32vw;
  @media screen and (max-width: 425px) {
    width: 100vw;
  }
}

.info-h1 {
  text-decoration: none;
  font-size: 2.5rem;
  color: black;
  font-family: "Black Ops One";
  letter-spacing: 0.1rem;
}

// Header ends and Body starts

.CTA {
  @include basic();
  width: 50%;
  height: 100%;
  color: white;
  flex-direction: column;
  justify-content: center;
  .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 3.1rem;
    font-family: "Special Elite", cursive;
    @media screen and (max-width: 425px) {
      font-size: xx-large;
    }
  }
  @media screen and (max-width: 425px) {
    width: 100vw;
  }
}

.background-div {
  height: 60vh;
  display: flex;
  background-color: #fff;
  border-bottom: #23403b solid 0.6rem;
  @media screen and (max-width: 425px) {
    height: unset;
    flex-direction: column;
  }
  img {
    width: 40vw;
  }
  .p-div {
    color: #23403b;
    font-size: 1.7rem;
    font-weight: 900;
    font-family: "Special Elite", cursive;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
  }

  .block {
    display: flex;
    border-left: #23403b solid 0.6rem;
    @media screen and (max-width: 425px) {
      border: unset;
    }

    img {
      @media screen and (max-width: 425px) {
        width: 100%;
        border: unset;
      }
    }
  }
}
// body ends info starts
.about-div {
  background-color: #fff;

  p {
    margin: unset;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: xx-large;
    font-family: "Special Elite", cursive;
  }
}

.top-info {
  display: flex;
  flex-direction: row;
  border-bottom: #23403b solid 0.6rem;
  img {
    width: 45vw;
  }
  p {
    font-size: 1.5rem;
    border-left: #23403b solid 0.6rem;
    width: 50vw;
  }
  @media screen and (max-width: 425px) {
    flex-direction: column-reverse;

    p {
      padding-top: 5%;
      padding-bottom: 5%;
      width: 100%;
      border: unset;
      justify-content: center;
      height: 20vh;
    }
    img {
      width: 100%;
      border-top: #23403b solid 0.6rem;
    }
  }
}
.mid-info {
  display: flex;
  flex-direction: row;
  border-bottom: #23403b solid 0.6rem;
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-size: 1.5rem;

    width: 70vw;
    @media screen and (max-width: 425px) {
      width: 100%;
      padding: 3%;
      font-size: 1.3rem;
    }
  }
  img {
    width: 27%;
    border-left: #23403b solid 0.6rem;
  }
  .brands-div {
    @media screen and (max-width: 425px) {
      p {
        padding-top: 15%;
        align-self: center;
        width: 75vw;
        font-size: 1.5rem;
      }
      .brands {
        flex-direction: column;

        img {
          width: 50%;
          padding-top: 6%;
          padding-bottom: 6%;
        }
      }
    }
    display: flex;
    align-self: center;
    flex-direction: column;
    .brands {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding-top: 3rem;
    }
    .brand-img {
      border-left: unset;
      width: 15%;
      height: 40%;
      align-items: center;
    }
  }
  @media screen and (max-width: 425px) {
    flex-direction: column;
    .ar-photo {
      display: none;
    }
  }
}

.bottom-info {
  display: flex;
  flex-direction: row;
  border-bottom: #23403b solid 0.6rem;
  p {
    padding: 4.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-size: 1.5rem;
    width: 55vw;
  }
  img {
    width: 45%;
    border-right: #23403b solid 0.6rem;
  }
  @media screen and (max-width: 425px) {
    flex-direction: column;
    width: 100%;
    p {
      height: 25vh;
      line-height: 125%;
      width: auto;
    }
    img {
      width: 100%;
      border-bottom: #23403b solid 0.6rem;
      border-right: unset;
    }
  }
}
.end-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  border-bottom: #23403b solid 0.6rem;
  font-size: 1.5rem;
  .para-div {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
      padding-top: 1.5%;
      width: 33vw;
    }
  }

  img {
    border-left: #23403b solid 0.6rem;
    width: 49vw;
  }
  @media screen and (max-width: 425px) {
    flex-direction: column;
    img {
      border-bottom: #23403b solid 0.6rem;
      width: 100vw;
    }
    .para-div {
      width: 100vw;
      height: 40vh;
      p {
        width: 85vw;
      }
    }
  }
}
.last-info {
  display: flex;
  flex-direction: row;

  border-bottom: #23403b solid 0.6rem;
  img {
    width: 45vw;
    border-right: #23403b solid 0.6rem;
  }
  div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-size: 1.5rem;

      width: 45vw;
    }
  }

  @media screen and (max-width: 425px) {
    flex-direction: column-reverse;

    img {
      width: 100%;
    }
    .para-div-2 {
      p {
        padding-top: 5%;
        padding-bottom: 5%;
        width: 85vw;
        border: unset;
        justify-content: center;
      }
    }
  }
}

// maps styling starts here
.map-div {
  background-color: #fff;

  display: flex;
  justify-content: center;

  border-left: #23403b solid 0.6rem;
  border-right: #23403b solid 0.6rem;
}
// map styling ends here and footer style starts here

.footer-div {
  .info-h1-div {
    flex-direction: column;
    justify-content: space-around;
  }

  border-top: #23403b solid 0.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30vh;
  font-family: "Special Elite", cursive;
  background-color: #b6c1b5;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
  }
  p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: unset;
    font-size: 2.2rem;
  }

  @media screen and (max-width: 425px) {
    flex-direction: column;
    height: 60vh;
    .info-h1-div {
      width: 100vw;
      padding-top: 5%;
    }
    .logo-wrapper {
      height: 25vh;
    }
  }
  .logo-wrapper {
    display: flex;
  }
  .logo-div2 {
    @include basic();
    background-color: #fff;
    justify-content: center;
    align-items: center;
    clip-path: circle(38% at 50% 50%);
    .logo {
      width: 220px;
    }
    @media screen and (max-width: 425px) {
      height: 20vh;
      clip-path: circle(24% at 50% 50%);
      .logo {
        width: 40vw;
      }
    }
  }
}

body {
  margin: unset;
}
